#carouselExampleFade {

  max-width: 1300px;
  height: 30vh;
  border-radius: 10px;

}

#carouselExampleFade img {

  background-repeat: repeat-x;
  object-fit: cover;
  width: 100%;
  height: 25vh;
  border-radius: 10px;

}

.container {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  gap: 3rem;

}

.companies {

  display: grid;
  grid-auto-rows: 16rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 2rem;

}

.empresa {

  box-shadow: 1px 1px 5px #ABB2B9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.empresa .content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0.5rem;
  min-width: 15rem;
  height: 5rem;
}

.div-img img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 11rem;
  width: 100%;
  border-radius: 15px;
}

.links {
  text-decoration: none;
  color: black;
}