// font-family: "appetices", 
#barra
    background-color: #f9a825 !important

.icons_login
    display: flex !important
    flex-direction: row !important
    .link
        padding: 1rem !important   





#btn-menu
    display: none
    color: #fff
    border: 1px solid white 
    padding: 5px
    font-size: 2em
    height: max-content
    border-radius: 10px
    // btn menu

@media (max-width: 768px)
    #btn-menu
        display: block

    #title-nav
        display: none