#body-login

    div
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        background-color: #F8F9F9

        #form-login
            width: 30em
            padding: 2em
            border: 1px solid #000
            border-radius: 10px
            background-color: #fff

            div
                .form-control
                    background-color: #fff

