.container_empresa {

  max-width: 1250px;
  display: grid;
  grid-template-rows: 12rem auto;
  margin: 0 auto;

}

.mapas {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;

}

.mapas .maps {
  width: 30rem;
  height: 10rem;
}

.mapas .description-company {
  max-width: 20rem;
}

.container-products {

  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.products {

  display: grid;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 2rem;

}

.empresa {

  background-color: #fff;
  box-shadow: 1px 1px 5px #ABB2B9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  position: relative;
}

.content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0.5rem;
  max-width: 15rem;
  height: 8rem;
  border-radius: 15px;
}


.div-img img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 11rem;
  width: 100%;
  border-radius: 15px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  color: black;
}

span {

  background-color: #f9a825;
  padding: .3rem 1rem;
  border-radius: 10px;
  color: #fff;
  box-shadow: 1px 1px 5px rgba(249, 168, 37, .3);
}

span:hover {
  transform: scale(1.03);
}